@import "common-mixins.less";

@background-color: black;

@pc-width: 1200px;
@pc-height: 700px;


html {
    padding: 0;
    margin: 0;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: @background-color;
    padding: 0;
    margin: 0;
}
.template-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
#scene-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#invisible-container{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.bound{
    position: absolute;
    border: 1px solid red;
    margin-left: -1px;
    margin-top: -1px;

    z-index: 1000;
    pointer-events: none;

    .text{
        position: absolute;
        top:4px;
        width: 200px;
        height:20px;
        left:50%;
        margin-left: -100px;
        color:red;
        text-align: center;
    }
}

/* common mixins */
div{
    &.hidding{
        display: none;
    }

    &.disactivated{
        opacity: .5;
    }
}
.container-pc(){
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.content-wrapper(){
    position: absolute;
    width: 100%;
    height: 100%;
}
.layout-pc(@image-src; @opacity: .3;){
    .layout{
        .percent-div(none, -@pc-width*.5, -@pc-height*.5, @pc-width, @pc-height, "layouts/@{image-src}");
        opacity: @opacity;
    }
}

/* menu and statement */
#statement{
    position: absolute;
    right: 4px;
    bottom: 3px;
    width: 263px;
    height: 11px;
    .image-bg("statement.png");

    transition: opacity 1s ease-in;

    z-index: 100;

    &.hide-mode{
        opacity: 0;
    }
}

#menu{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;

    z-index: 1000;

    @bar-height: 62px;

    transition: top .4s ease-out;

    &.hide-mode{
        top: -@bar-height;
    }

    .open-part{
        position: fixed;
        left:0;
        top:0;
        width: 100%;

        background-color: rgba(255,255,255,.9);

        height: 0;
        visibility: hidden;
        transition: height .2s ease-out .2s, visibility 0s linear .4s;

        .center-container{

            position: fixed;
            left:50%;
            top:50%;

            opacity: 0;

            transition: opacity .4s ease-out;

            .layout{
                .abs-div-2(none, -@pc-width*.5, -@pc-height*.5, @pc-width, @pc-height, "layouts/menu.jpg");
                opacity: .5;
            }

            .abs-div-2(deco-text-1, -6,-181,29,401,'menu-deco-text-1.png');

            .green-line{
                position: absolute;
                left:-21px;
                top:-181px;

                height: 0;

                width: 1px;
                background-color: #4db847;

                transition: height .5s ease-out;
            }

            .button-container{
                position: absolute;
                left:-251px;
                top:-198px;

                @gap-y: 62px;
                @button-width: 210px;
                @button-height: 62px;

                @hover-offset: 20px;

                .my-mix-in(1);
                .my-mix-in(2);
                .my-mix-in(3);
                .my-mix-in(4);
                .my-mix-in(5);
                .my-mix-in(6);
                .my-mix-in(7);

                .my-mix-in(@index)
                {
                    .btn:nth-child(@{index})
                    {
                        position: absolute;
                        left:0;
                        top: (@index - 1) * @button-height;
                        width: @button-width;
                        height: @button-height;

                        .image-bg('menu-button-texts.png');

                        background-position: left -((@index - 1) * @button-height);
                        background-repeat: no-repeat;

                        cursor: pointer;

                        transition: width .3s ease-out, margin-left .3s ease-out;

                        &:hover{
                            width: @button-width + @hover-offset;
                            margin-left: -@hover-offset;
                        }
                    }
                }
            }

        }



        &.open-mode{

            height: 100%;

            visibility: visible;
            transition: height .2s ease-out;
            transition-delay:0s;

            .center-container{
                opacity: 1;
            }

            .green-line{

                transition: height .5s ease-out .1s;
                height: 400px;
            }
        }
    }

    .bar{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: @bar-height;
        background-color: white;
    }

    .logo{
        .abs-div-2(none, 21, 18, 153, 26, 'logo.png');
    }

    .icon{
        position: absolute;
        right: 6px;
        top: 5px;

        @w: 42px;
        @h: 28px;
        @bleed:10px;

        width: @w + @bleed * 2;
        height: @h + @bleed * 2;

        @gap: 12px;

        cursor: pointer;

        .bar-1, .bar-2, .bar-3{
            position: absolute;
            background-color: #4db847;
            width: 34px;
            height: 5px;
            border-radius: 20px;

            transition: left .3s ease-out;
        }

        .bar-1{
            left:@bleed;
            top:@bleed;
        }

        .bar-2{
            left:@bleed + 8px;
            top:@bleed + @gap;
        }

        .bar-3{
            left:@bleed;
            top:@bleed + @gap * 2;
        }

        &:hover{

            .bar-1{
                left:@bleed + 8px;
            }

            .bar-2{
                left:@bleed;
            }

            .bar-3{
                left:@bleed + 8px;
            }

        }
    }
}

/* index */
#index {

    .container-pc();

    .fullsize-video{

        /* Make video to at least 100% wide and tall */
        min-width: 100%;
        min-height: 100%;

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        opacity: 0;


        &.playing-mode{

            transition: opacity, 2s, ease-in;
            opacity: 1;
        }
    }


    .cover{
        position: fixed;
        left:0;
        top:0;
        width: 100%;
        height: 100%;

        background-color: #000000;
        opacity: .45;
    }

    .content{
        .percent-container(@left: 50%; @top: 50%;);

        .layout-pc('index.m.jpg');

//        .percent-div(left-text-1, -572, -57, 174, 161, 'index-left-text-1.png');
        .left-text-1{
            position: absolute;
            left:-572px;
            top: -57px;
        }
        @import (less) "index-left-text-1.css";

//        .percent-div(right-text-1, 143, -102, 442, 77, 'index-right-text-1.png');
        .right-text-1{
            position: absolute;
            left:143px;
            top: -102px;
        }
        @import (less) "index-right-text-1.css";

//        .percent-div(right-text-2, 209, -9, 370, 34, 'index-right-text-2.png');
        .right-text-2{
            position: absolute;
            left:209px;
            top: -9px;
        }
        @import (less) "index-right-text-2.css";

        //.percent-div(right-text-3, 227, 38, 352, 51, 'index-right-text-3.png');
        .right-text-3{
            position: absolute;
            left:227px;
            top: 38px;
        }
        @import (less) "index-right-text-3.css";

        .btn-start{
            .percent-div(none, 386, 106, 191, 44, 'index-btn-start.png');
            cursor: pointer;

            &:active{
                margin-top: 1px;
            }
        }

        .video-select{
            .percent-container(@left: 412%; @top:219%;);


            .arrow-left{
                .abs-div-2(none,-32, 21, 25, 40, "index-arrow-left.png");
                cursor: pointer;
                &:active{
                    margin-left: -1px;
                }
            }

            .arrow-right{
                .abs-div-2(none,146, 21, 25, 40, "index-arrow-right.png");
                cursor: pointer;
                &:active{
                    margin-left: 1px;
                }
            }

            .abs-div-2(right-text-4, 29, 85, 87, 13, "index-right-text-4.png");

            @thumb-width: 136px;
            @thumb-height: 77px;

            .thumb-container{
                position: absolute;
                left:0;
                top:0;
                width: @thumb-width;
                height: @thumb-height;
                background-color: white;

                border:1px solid white;

                cursor: pointer;

                .thumb-1{
                    .abs-div-2(none, 0, 0, @thumb-width, @thumb-height, "index-video-thumb-1.png");
                    z-index: 1;
                }

                .video-play-icon{
                    .abs-div-2(none, 0, 0, @thumb-width, @thumb-height, "index-video-play-icon.png");
                    z-index: 2;
                }
            }

        }
    }

}

@import 'main-mobile.less';